/* FOOTER */
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid red;
    position: relative;
}
.footer__header{
    position: absolute;
    top: -25px;
}
