/* FOOTER */
.footer__separator{
    background-color: #F7D756;
}
.container__footer {
    position: relative;
}
.footer__header{
    position: absolute;
    top: 90%;
    background-color: #FC6AA8 !important;
}
.footer__icon{
    transition: all 0.3s ease;
}
.footer__icon:hover{
    color: #F7D756 !important;
    transform: scale(1.1);
}
.footer__footer{
    font-style: italic;
    text-align: right;
}
