/* STYLES FOR HEADER AND HEADER´S SONS */
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border-bottom: 2px solid red ;
    border-bottom: 10px solid black;
}
.slider{
    height: 300px;
}

.slider__image{
    height: 300px !important;
    object-fit: cover !important;
}
