.cards{
    gap: 20px;
}
.card-container{
    width: 350px;
    margin-bottom: 100px;
}
.card{
    box-shadow: -2px 2px 2px black;
    border: 1px solid black;
}
.card__header{
    background-image: url(../assets/images/merch/card01__bg.jpg);
    background-size: cover;
    height: 240px;
    width: 100%;
    border-radius: 5px;
}
.card__product{
    width: 180px;
    right: 0px;
    top: 20px;
    padding: 0;
    z-index: 10;
    transition: all 0.3s ease;
}
.card__product:hover{
    transform: scale(3);
}
.card__main{
    width: 100%;
}
.title{
    font-variant: small-caps;
    border-bottom: 1px solid black;
}
.card__title{
    font-variant: small-caps;
}
.card__tag{
    background-color: #3DED97 !important;
    top: 22px;
    left: 150px;
    font-size: 0.7rem;
}
.card__icon--hearth{
    transition: all 0.3s ease;
    top: 20px;
    left: 80%;
    color: red;
}
.card__icon--cart{
    transition: all 0.3s ease;
    top: 60px;
    left: 79%;
}
.card__icon--hearth:hover,.card__icon--cart:hover{
    transform: scale(1.2);
}
.star{
    color: #F7D756;
}
.list__item{
    width: 35px;
    height: 35px;
    font-size: 0.8rem;
}
.list__item:hover{
    background-color: #FFB366;
    border-radius: 50%;
    color: white;
}
/* colors */
.card__footer{
    width: 100%;
}
.container__colors{
    width: 150%;
}
.color{
    width: 20px;
    height: 20px;
    transition: all 0.4s ease;
}
.color:hover{
    transform: scale(1.2);
}
.color--blue{
    background-color:  blue;
}
.color--black{
    background-color: black;
}
.color--red{
    background-color: red;
}
.card__price{
    background-color: #3DED97 !important;
    top: 10px;
    right: -20px;
}