.nav_vertical{
    background-color: #F7D756;
}
.nav_vertical__icons{
    position: fixed;
    background-color: #F7D756;
    width: 7% !important;
    z-index: 100;
    /* border: 1px solid white !important; */
    height: 100vh;
}
.nav-link{
    width: 60px !important;
    /* border: 1px solid white !important; */
}