.nav_vertical{
    background-color: #F7D756;
}
.nav_vertical__icons{
    position: fixed;
    background-color: #F7D756;
    width: 112px  !important;
    z-index: 100;
}
.nav-link--vertical{
    width: 60px !important;
}