@media screen and (min-width:1024px) {
    .card__text--episodes_1024{
        display: flex !important;
    }
    
}
@media screen and (min-width:1200px) {
    .card__icon{
        top: 50%;
    }
    .card__visor{
        background-position: -130px -80px;
        
        
    }
}
@media screen and (min-width:1260px) {
    .card__text--episodes_1260{
        display: flex !important;
    }
    
}