@font-face {
    font-family: simpsons;
    src: url(../assets/fonts/Simpsonfont\ DEMO.otf);
}
@font-face {
    font-family: roboto;
    src: url(../assets/fonts/RobotoCondensed-VariableFont_wght.ttf);
}
@font-face {
    font-family: monserrat;
    src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}
*{
    box-sizing: border-box;
    border-radius: 2px;
    /* font-family: monserrat; */
}
html{
    scroll-behavior: smooth;
}
body{
    max-width: 1400px;
    min-width: 578px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-image: url(../assets/images/html__bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    width: 100%;
    padding-bottom: 100px;
}
