*{
    box-sizing: border-box;
    border-radius: 2px;
}
html{
    scroll-behavior: smooth;
}
body{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.container{
    width: 100%;
    border: 1px solid red;
}
.main{
    border: 2px solid black;
    
}
.aside{
    border: 2px solid black;

}

